{% extends  'base.html.twig'%}

{% block body %}

    <h1>Category: {{ categorie.name }}</h1>
        <ul>
        {% for question in categorie.questions %}
            <li>{{ question.question|e }}</li>
                <ul>
                {% for reponse in question.reponses %}
                    <li>{{ reponse.reponse|e }}</li>
                    {% if reponse.reponseExpected %}
                        TRUE
                    {% endif %}
                {% endfor %}
                </ul>
        {% endfor %}
        </ul>

{% endblock %}
